---
layout: default
title: MiLO casting | About
permalink: /about/
---

<div class="about">
    <div class="featured-content"
        style="background-image:url({{site.data.about.featured_content.background_url}})">

        {% if site.data.about.featured_content.title %}<h2>{{ site.data.about.featured_content.title }}</h2>{% endif %}
        <h3>{{ site.data.about.featured_content.text }}</h3>

        {% for link in site.data.about.featured_content.links %}
        <a class="vertical-links" href="{{ link.url }}">{{ link.text }}</a>
        {% endfor %}
        <div class="scroll-down">
            <img src="/assets/images/arrow.png" alt="Scroll down">
        </div>
    </div>

    {% for client in site.data.about.clients %}
    <div class="client">
        <div class="client-image" style="background-image:url({{client.url}})">
            <img class="client-image-mobile" src="{{client.url}}">
        </div>
        <div class="description">
            <h3 class="emphasize">{{ client.name }}</h3>
            <h4 class="">{{ client.sub-title }}</h4>
            <p>{{ client.description }}</p>
        </div>
    </div>
    {% endfor %}

    <div class="social dark">
        <h2 class="title">{{ site.data.about.social_1 }}</h2>
    </div>

    <div class="description-background" style="background-image:url({{site.data.about.long_description.url}})">
        <div class="long-description">
            <h2 class="title">
                {{ site.data.about.long_description.title }}
            </h2>
            {% for desc in site.data.about.long_description.desc %}
            <div class="desc">
                <p>{{ desc.para }}</p>
                {% if desc.line_1 %}<p>{{ desc.line_1 }}</p>{% endif %}
                {% if desc.line_2 %}<p>{{ desc.line_2 }}</p>{% endif %}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="social">
        <h2 class="title">{{ site.data.about.social_1 }}</h2>
        {% include social.html %}
    </div>

</div>