---
layout: default
title: Clients
permalink: /clients/
---

<div>
    <div class="featured-content" style="background-image:url({{site.data.clients.featured_content.background_url}})">
        <h3>{{ site.data.clients.featured_content.text }}</h3>
        
        {% for link in site.data.clients.featured_content.links %}
        <a class="vertical-links" href="{{ link.url }}">{{ link.text }}</a>
        {% endfor %}
        <div class="scroll-down">
            <img src="/assets/images/arrow.png" alt="Scroll down">
        </div>
    </div>

    <div class="reasons_section">
        <h3 class="title">{{ site.data.clients.reasons_section.title }}</h3>
        <h3 class="title">{{ site.data.clients.reasons_section.sub-title }}</h3>
        <div class="reasons">
            {% for client in site.data.clients.reasons_section.reasons %}
            <p class="reason">{{ client.name }}</p>
            {% endfor %}
        </div>
    </div>

    {% for client in site.data.clients.clients %}
    <div class="client">
        <div class="client-image" style="background-image:url({{client.url}})">
            <img class="client-image-mobile" src="{{client.url}}">
        </div>
        <div class="description">
            <h3 class="emphasize">{{ client.name }}</h3>
            <h4 class="">{{ client.sub-title }}</h4>
            <p>{{ client.description }}</p>
        </div>
    </div>
    {% endfor %}

    <div class="social">
        <h2 class="title">{{ site.data.clients.social_1 }}</h2>
        {% include social.html %}
    </div>

    <div class="client_list">
        <h3 class="title">{{ site.data.clients.client_list.title}}</h3>
        <h3 class="title">{{ site.data.clients.client_list.sub-title}}</h3>
        <h3 class="title">{{ site.data.clients.client_list.sub-sub-title}}</h3>
        <div class="brands_list">
            {% for client in site.data.clients.client_list.clients %}
            <a href="{{ client.url }}"><img src="{{ client.image }}" alt="" /></a>
            {% endfor %}
        </div>
    </div>
</div>