---
layout: default
title: MiLO casting | Contact
permalink: /contact/
---

<div class="">
    <div class="featured-content" style="background-image:url({{site.data.contact.featured_content.background_url}})">
        <h3>{{ site.data.contact.featured_content.text }}</h3>

        {% for link in site.data.contact.featured_content.links %}
        <a class="vertical-links" href="{{ link.url }}" {% if link.target %} target="{{ link.target }}" {% endif %}>{{ link.text }}</a>
        {% endfor %}

        <div class="scroll-down">
            <img src="/assets/images/arrow.png" alt="Scroll down">
        </div>
    </div>

    <div class="follow-us">
        <h3>{{ site.data.contact.social_text }}</h3>
        {% include social-text.html %}
    </div>
</div>