---
layout: default
title: Contact
permalink: /contact/
---

<div class="home">
    <div class="featured-content"
        style="background-image:url({{site.data.index.featured_content.background_url}})">
        {% for link in site.data.index.featured_content.links %}
        <a href="{{ link.url }}">{{ link.text }}</a>
        {% endfor %}
        <h3>{{ site.data.index.featured_content.text }}</h3>

        <div class="scroll-down">
            <i class="fas fa-arrow-down"></i>
        </div>
    </div>

    <div class="reasons_section">
        <h3>{{ site.data.index.reasons_section.title }}</h3>
        <h3>{{ site.data.index.reasons_section.sub-title }}</h3>
        {% for client in site.data.index.reasons_section.reasons %}
            <h5 class="">{{ client.name }}</h5>
        {% endfor %}
    </div>
</div>