.featured-content {
    background-size: cover;
    height: 100vh;
    padding: 200px 20%;
    text-align: center;
}

.client {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    text-align: center;

    .description {
        padding: 50px;
    }
}

.social {
    padding: 50px;
    text-align: center;
}

.social-icons {
    margin: 20px;

    i {
        font-size: 24px;
        padding: 0 5px;
    }
}

.social-large {
    padding: 50px 20px;
    text-align: center;

    .description {
        margin-bottom: 50px;
    }
}

.reasons_section {
    text-align: center;
}

@media only screen and (min-width: $desktop) {
    .featured-content {

        a {
            font-size: 24px;
            font-weight: 500;
        }

        a:nth-of-type(n+1) {
            margin-left: 20px;
        }
    }

    .client {
        flex-direction: row;
        > * {
            width: 50%;
        }
    }

    .client:nth-of-type(even) {
        .client-image {
            background-position: top;
            &:before {
                background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 100%);
                content: "\00a0";
                top: 0;
                left: 25%;
                height: 100%;
                width: 25%;
                position: absolute;
            }
        }
    }

    .client:nth-child(odd) {
        .client-image {
            order: 2;
            &:before {
                background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
                content:"\00a0";
                top: 0;
                left: 50%;
                height: 100%;
                width: 30%;
                position: absolute;
            }
        }
    }

    .client-image {
        background-size: cover;
    }

    .client-image-mobile {
        display: none;
    }

    .social-large {
        padding: 50px 20% 200px;
        text-align: center;

        .description {
            margin-bottom: 50px;
        }
    }
}