footer {
    background-color: $footer-background;
    color: $footer-text;
    padding: 40px 0 0;
    width: 100%;
    clear: both;

    .logo {
        margin: 0 0 50px;
    }

    div {
        display: inline-block;
    }

    ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        list-style-type: none;
        width: 100%;

        a {
            font-size: 24px;
            margin-bottom: 30px;
            width: 50%;
            float: left;
        }
    }

    .social-icons {
        margin: 30px 0 0;
        i {
            font-size: 32px;
        }
    }

    @media only screen and (min-width: $desktop) {

        display: flex;

        .social-icons {
            align-items: flex-end;
        }

        a {
            font-size: 40px;
        }

        .footer-text {
            padding: 0 50px;
            width: calc(100% - 152px);
            vertical-align: top;
        }
    }
}
