* {
    box-sizing: border-box;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
}

body {
    background-color: $background;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}

header, main, footer {
    // display: inline-block;
}

header {
    padding: 35px;
}

footer {
    padding: 40px;
}

main {
    width: 100%;
}

a {
    cursor: pointer;
}

div {
    display: block;
}

img {
    width: 100%;
    animation: opacity 0.3s linear;
}

input, textarea {
    border: 1px solid $border-color;
    border-radius: 3px;
    font-size: 16px;
    padding: 15px 10px;
}

button {
    background-color: transparent;
    border: none;
    color: $link-light;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    width: auto;
}

.emphasize {
    border-bottom: 3px solid $border-color;
    display: inline-block;
    line-height: 1.0;

    // against a lighter background
    &-dark {
        border-bottom-color: $border-color-light;
    }
}

.scroll-down > * {
    height: 47px;
    width: 36px;
}

.mobile {
    display: block;
}

.desktop {
    display: none;
}

@media screen and (min-width: $desktop) {

    .emphasize {
        line-height: 0.79;
    }

    main {
    }

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
}

// ANIMATIONS

@keyframes opacityChange {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
