$body-text: 'Avenir Next', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$headings: $body-text;

h1, h2, h3, h4, h5, h6 {
    font-family: $headings;
    font-weight: 400;
    margin: 0;
}

a, p {
    font-family: $body-text;
}

// FONT SIZES
h1 {
    
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 35px;
    font-weight: 500;
    line-height: 42px;
}

h4 {
    font-size: 22px;
    line-height: 30px;
    margin: 10px 0 20px;
    font-weight: 400;
}

h5 {
    font-size: 32px;
    margin: 10px 0 15px;
}

h6 {

}

p {
}

a, p {
    line-height: 1.5;
    margin: 0;
}

i {
    cursor: pointer;
}

button, .sub-menu, .pagination li, .social-share {
    font-family: $headings;
}

.slide-header {
    li {
        font-family: $headings;
    }
}

.scroll-down {
    font-size: 36px;

    i:hover {
        @include transition(all, 0.5s, ease-in, 0s);
        padding: 20px;
    }
}

@media only screen and (min-width: $desktop) {
    h1 {
        font-size: 100px;
    }

    h2 {
        font-size: 60px;
    }

    h3 {
        font-size: 40px;
    }

    h4 {
        font-size: 30px;
    }

    h5 {
        font-size: 32px;
        margin: 10px 0 15px;
    }

    h6 {

    }

    p {
        font-size: 30px;
    }

    a, p {
        
    }
}
